@import '../../../common-styles/common-styles.scss';

#faq-component {
    margin: 1em auto;
    padding: 2em;
    max-width: $max-width-content;
    background-color: $bg-color-default;
    min-height: 100%;
}