#trading-left-sidebar {
    .ant-tabs-tab {
        margin: 0 !important;
    }

    .ant-table {
        // border: 0;

        .ant-table-thead,
        .ant-table-tbody {
            tr {
                th {
                    border: 0 !important;
                }

                td {
                    border: 0;
                }
            }
        }
    }
}