//Import reponsive mixin
@import '../../common-styles/reponsive.scss';

.side-bar {
    position: relative;
    display: initial;
    z-index: 1;

    @include md {
        display: none;
    }

    @include lg {
        display: none;
    }

    @include xl {
        display: none;
    }

    .ant-layout-sider-zero-width-trigger {
        top: 51px;
    }
}

#main {
    header {
        height: auto;
        background: #fff;
        padding: 0;
    }

    &>main {
        min-height: calc(100vh - 118px);

        &>div {
            &>.ant-layout {
                padding: 24px 20px !important;
            }
        }
    }

    &>footer {
        padding: 0;
        text-align: center;
    }
}