@import '../../common-styles/reponsive.scss';

.ant-carousel {
    .slick-slider {
        text-align: center;
        height: 400px;
        line-height: 400px;
        background: #364d79;
        overflow: hidden;
        color: #fff;

        @include xs {
            height: 200px;
        }

        @include sm {
            height: 300px;
        }
    }

}