@import '../../common-styles/reponsive.scss';

.ant-menu {
    * {
        &.item {
            &:not(.show-sm) {
                @include xs {
                    display: none !important;
                }

                @include sm {
                    display: none !important;
                }
            }

            &.show-sm {
                @include xs {
                    border-bottom: 0;
                }

                @include sm {
                    border-bottom: 0;
                }
            }

            &.right {
                float: right;
            }

            &.only-text {
                color: inherit;
                border-bottom: 0;
                &:hover{
                    color: inherit;
                    cursor: inherit;
                }
            }
        }
    }

}